@use "../abstracts/colors";
@use "../abstracts/constants";
@use "../abstracts/mixins";

.Base-table-grid {
  display: block;
  width: 100%;
  overflow: auto;
  position: relative;

  // https://www.smashingmagazine.com/2019/01/table-design-patterns-web/
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
  linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 0 100%,
  radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
  radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}

.Base-table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;


  td,
  th {
    text-align: left;
    vertical-align: top;
    //hyphens: auto;
    padding: constants.$nudge constants.$gutter-width;

    //border-right: 1px solid $color-navy-blue-40;

    &:last-child {
      border-right: none;
    }
  }

  th {
    @include mixins.default-h5;
    color: colors.$color-anthrazit;
  }

  td {
    @include mixins.default-p;
    color: colors.$color-black;
  }

  thead {
    color: colors.$color-anthrazit;

    tr {
      border: 0;
      border-bottom: 1px solid rgba(colors.$color-sh-blau, 0.2);
    }
  }

  tbody {
    color: colors.$color-anthrazit;
    //background-color: $color-lavender-gray;

    tr {
      //background-color: rgba($color-black, 0.3);
      border-bottom: 1px solid rgba(colors.$color-sh-blau, 0.2);

      &:hover {
        background-color: rgba(colors.$color-sh-blau-40, 0.2);
      }
    }

    //tr:nth-child(odd) {
    //  background-color: rgba($color-pk-blue-50, 0.1);
    //}
  }
}

