@use "../abstracts/colors";
@use "../abstracts/constants";
@use "../abstracts/mixins";

.IconTeaser {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.IconTeaser-icon {
  position: relative;
  width: 100%;
  max-width: 100px;
  height: auto;
  display: block;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
  @include mixins.margin-bottom(constants.$gutter-width*2);
}

.IconTeaser-icon-container svg {
  padding-bottom: 100%;
}
