@use "../abstracts/colors";
@use "../abstracts/constants";

.SocialChannelLink-grid {
  text-align: left;
}

.SocialChannelLink-grid-item {

  display: inline-block;
  margin-left: constants.$gutter-width*2;
  margin-bottom: constants.$gutter-width;

  &:first-child {
    margin-left: 0;
  }

}

.SocialChannelLink {
  display: block;
  pointer-events: auto;
  width: 28px;
  height: 28px;
  color: colors.$color-white;
  fill: currentColor;
  transition: transform 0.1s ease;
  line-height: 1;

  &:focus,
  &:hover {
    transform: scale(1.2);
  }
}
