/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.sidebar {
  position: relative;
  background-color: transparent;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  bottom: unset;
  border-right: none;
  overflow-y: auto;
}

.sidebar-heading {
  padding-left: 0;
}

.sidebar-group a.sidebar-link {
  padding-left: 1rem;
}

.suggestions {
  z-index: 11;
}


// SearchBox

.search-box input {
  width: 100%;
}
