/**
 * Custom palette here.
 *
 * ref：https =//v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #3A78B8
$textColor = #333333
$borderColor = #E5EAEF
$codeBgColor = #003064

$color-sh-blau = #003064;
$color-sh-rot = #D4004B;
$color-itvsh-magenta = #D62F87;
$color-itvsh-blau = #3A78B8;
$color-sh-blau-05 = #F2F4F7;
$color-sh-blau-10 = #E5EAEF;
$color-sh-blau-20 = #CCD6E0;
$color-sh-blau-40 = #99ACC1;
$color-sh-blau-60 = #6683A2;
$color-sh-blau-80 = #335983;
$color-sh-blau-dunkel = #001E49;
$color-sh-grau = #A4ADB6;
$color-black = #000000;
$color-anthrazit = #333333;
$color-sh-grau-02 = #72797F;
$color-sh-grau-03 = #52565B;
$color-sh-grau-60 = #666666;
$color-sh-grau-20 = #CCCCCC;
$color-sh-grau-15 = #DDDDDD;
$color-sh-grau-10 = #EEEEEE;
$color-white = #FFFFFF;
$color-sek01-dunkel = #1E897A;
$color-sek02-dunkel = #0F8085;
$color-sek03-dunkel = #027D9D;
$color-sek04-dunkel = #106C9E;
$color-sek05-dunkel = #2F5E90;
$color-sek06-dunkel = #605887;
$color-sek07-dunkel = #8E497B;
$color-sek08-dunkel = #972F6E;
$color-sek01 = #1EAE9C;
$color-sek02 = #00A2AB;
$color-sek03 = #00A0C9;
$color-sek04 = #008CCF;
$color-sek05 = #3A78B8;
$color-sek06 = #7A6FAC;
$color-sek07 = #B55C9C;
$color-sek08 = #cc3399;
$color-sek02-10 = #E6F6F7;
