@use "sass:map";
@use "constants";
@use "./node_modules/rfs/scss" as rfs with (
  $rfs-factor: constants.$rfs-factor,
  $rfs-breakpoint: constants.$rfs-breakpoint
);

// Media queries mixin
//
// example use:
//
// .test {
//  @include respond-to(xl) {  }
//  @include respond-to(lg) {  }
//  @include respond-to(md) {  }
//  @include respond-to(sm) { }
//  @include respond-to(xs) {  }
//  @include respond-to(xxs) {  }
// }

@mixin respond-to($size: md) {
  @media (min-width: map.get(constants.$breakpoints, $size)) {
    @content;
  }
}

// calc(4vw + #{$susy-gutter-width})
// 100 - 2*4vw = 92
// 1 = 140, 2 = 279, 3 = 418, 4 = 557, 5 = 696, 6 = 835, 7 = 974, 8 = 1114, 9 = 1253, 10 = 1392, 11 = 1531, 12 = 1670
@mixin respond-to-grid($cols) {

  $inner-width: (100 - constants.$outer-pad*2) / 100;

  @media (min-width: #{constants.$col-width*$cols/$inner-width}px) {
    @content;
  }
}

@mixin clearfix() {
  &::after {
    content: " ";
    display: block;
    clear: both;
  }
}


@mixin visuallyUnhidden {
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

@mixin visuallyHidden() {

  // Hide only visually, but have it available for screenreaders: h5bp.com/v
  & {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
  }

  // Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
  &.focusable:active,
  &.focusable:focus {
    @include visuallyUnhidden;
  }
}

@mixin resetButton {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

// https://medium.com/clear-left-thinking/all-you-need-to-know-about-hyphenation-in-css-2baee2d89179
@mixin hyphenate {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

@mixin font-AvenirNextLTPro-Demi {
  font-family: 'AvenirNextLTPro-Demi', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin font-AvenirNextLTPro-Regular {
  font-family: 'AvenirNextLTPro-Regular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin default-h1 {
  @include font-AvenirNextLTPro-Demi;
  @include rfs.font-size(40px);
  //line-height: 1;
}

@mixin default-h2 {
  @include font-AvenirNextLTPro-Demi;
  @include rfs.font-size(32px);
  //line-height: 1.15;
}

@mixin default-h3 {
  @include font-AvenirNextLTPro-Demi;
  @include rfs.font-size(28px);
  //line-height: 1.15;
}

@mixin default-h4 {
  @include font-AvenirNextLTPro-Demi;
  @include rfs.font-size(24px);
  //line-height: 1.15;
}

@mixin default-h5 {
  @include font-AvenirNextLTPro-Demi;
  @include rfs.font-size(20px);
  //line-height: 1.15;
}

@mixin default-h6 {
  @include font-AvenirNextLTPro-Demi;
  @include rfs.font-size(18px);
  //line-height: 1.15;
}

@mixin default-h-sub {
  @include font-AvenirNextLTPro-Demi;
  @include rfs.font-size(18px);
  //line-height: 1.15;
  //letter-spacing: 0.15em;
  text-transform: uppercase;
}

@mixin default-p {
  @include font-AvenirNextLTPro-Regular;
  @include rfs.font-size(18px);
}

@mixin default-small {
  @include font-AvenirNextLTPro-Regular;
  @include rfs.font-size(16px);
}

@mixin default-large {
  @include font-AvenirNextLTPro-Regular;
  @include rfs.font-size(20px);
}


// Shorthand helper mixins
@mixin font-size($value) {
  @include rfs.rfs($value);
}

@mixin padding($value) {
  @include rfs.rfs($value, padding);
}

@mixin padding-top($value) {
  @include rfs.rfs($value, padding-top);
}

@mixin padding-right($value) {
  @include rfs.rfs($value, padding-right);
}

@mixin padding-bottom($value) {
  @include rfs.rfs($value, padding-bottom);
}

@mixin padding-left($value) {
  @include rfs.rfs($value, padding-left);
}

@mixin margin($value) {
  @include rfs.rfs($value, margin);
}

@mixin margin-top($value) {
  @include rfs.rfs($value, margin-top);
}

@mixin margin-right($value) {
  @include rfs.rfs($value, margin-right);
}

@mixin margin-bottom($value) {
  @include rfs.rfs($value, margin-bottom);
}

@mixin margin-left($value) {
  @include rfs.rfs($value, margin-left);
}
