@use "../abstracts/colors";
@use "../abstracts/constants";
@use "../abstracts/mixins";

.CookieBar {

  display: none;

  &.is-active {
    display: block;
    background-color: colors.$color-sh-blau;
  }
}

.CookieBar-bar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(colors.$color-sh-blau-05, 0.9);
  @include mixins.padding-top(constants.$gutter-width*2);
  @include mixins.padding-bottom(constants.$gutter-width*2);
  box-shadow: 0 -2px 2px 0 rgba(colors.$color-black, 0.1);
}


.CookieBar-interaction-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;

  & > * {
    margin-left: 2em;

    &:first-child {
      margin-right: auto;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


.CookieBar-detail {
  background-color: colors.$color-sh-blau-05;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  @include mixins.padding(constants.$gutter-width*4);
  position: relative;
}


.CookieBar-detail-interaction-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;

  & > * {
    margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }
  }
}
