@use "../abstracts/colors";
@use "../abstracts/constants";
@use "../abstracts/functions";
@use "../abstracts/icons";
@use "../abstracts/mixins";

.MainNavigation {

  display: block;

  @include mixins.respond-to(constants.$mobile-break) {
    display: flex;
    align-items: flex-end;
    margin-left: -(constants.$gutter-width);
    margin-right: -(constants.$gutter-width);
  }
}


.MainNavigation-level1-item {
  display: block;
  position: relative;
  width: 100%;

  @include mixins.respond-to(constants.$mobile-break) {
    width: auto;
    border-bottom: none;
    padding-right: 0;
    padding-left: 0;
  }
}

.MainNavigation-doku {
  margin-left: auto;
  margin-right: auto;
}

.MainNavigation-level1-link {
  @include mixins.font-AvenirNextLTPro-Regular;
  font-size: functions.px2em(18px);
  line-height: 1;
  color: colors.$color-anthrazit;
  position: relative;
  transition: color 0.2s ease;
  display: flex;
  padding-top: constants.$gutter-width;
  padding-bottom: constants.$gutter-width;
  padding-right: calc(#{constants.$outer-pad}vw + #{constants.$gutter-width});
  padding-left: calc(#{constants.$outer-pad}vw + #{constants.$gutter-width});

  &:hover,
  &:focus {
    @include mixins.font-AvenirNextLTPro-Demi;
  }

  &.is-activePage {
    @include mixins.font-AvenirNextLTPro-Demi;

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      height: 4px;
      width: 100%;
      background: colors.$color-itvsh-magenta;
      background-image: linear-gradient(135deg, colors.$color-itvsh-blau 0%, colors.$color-itvsh-magenta 100%);
    }
  }

  &.MainNavigation-level1-externalLink {
    & .MainNavigation-level1-label {
      padding-left: 0;
    }

    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 1em;
      height: 1em;
      margin-top: 0.125em;
      margin-left: 0.5em;
      margin-right: 0;
      background-repeat: no-repeat;
      background-size: 1em;
      background-image: functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="#{icons.$symbol-link-extern-viewbox}" preserveAspectRatio="xMidYMin slice" ><g fill="#{colors.$color-sh-blau-20}">#{icons.$symbol-link-extern}</g></svg>');
    }

    &.is-active,
    .u-linkWrap:hover &,
    &:hover,
    &:focus {
      &::after {
        background-image: functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="#{icons.$symbol-link-extern-viewbox}" preserveAspectRatio="xMidYMin slice" ><g fill="#{colors.$color-itvsh-blau}">#{icons.$symbol-link-extern}</g></svg>');
      }
    }
  }

  @include mixins.respond-to(constants.$mobile-break) {
    padding-left: constants.$nudge;
    padding-right: constants.$nudge;
    border-bottom: none;
    font-size: functions.px2em(16px);

    &.MainNavigation-level1-logo {
      padding: constants.$gutter-width constants.$gutter-width constants.$gutter-width 0;
    }
  }

  @include mixins.respond-to-grid(8) {
    font-size: functions.px2em(18px);
    padding-left: constants.$gutter-width;
    padding-right: constants.$gutter-width;
  }
}

// Modifier for ServiceAreaNavigation
.MainNavigation-level1-link--large {
  @include mixins.font-AvenirNextLTPro-Demi;
  font-size: functions.px2em(24px);

  @include mixins.respond-to(constants.$mobile-break) {
    font-size: functions.px2em(20px);
  }

  @include mixins.respond-to-grid(8) {
    font-size: functions.px2em(24px);
  }
}

.MainNavigation-level1-menuIcon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
  margin-top: -0.2em;
  margin-left: 0.5em;
  margin-right: 0;
}

.MainNavigation-level1-menuIcon-open {
  display: block;

  .MainNavigation-level1-link.is-open & {
    display: none;
  }
}

.MainNavigation-level1-menuIcon-close {
  display: none;

  .MainNavigation-level1-link.is-open & {
    display: block;
  }
}


.MainNavigation-level2 {

  height: 0;
  overflow: hidden;
  background-color: colors.$color-sh-blau;
  visibility: hidden;
  transition: opacity 0.2s ease;
  opacity: 0;


  &.is-open {
    height: auto;
    visibility: visible;
    opacity: 1;
    border-bottom: 1px solid colors.$color-sh-blau-10;
  }

  @include mixins.respond-to(constants.$mobile-break) {

    position: absolute;
    opacity: 0;
    //left: 50%;
    //transform: translateX(-50%);

    &.is-open {
      opacity: 1;
      width: 420px;
      left: -4em;

      .MainNavigation-level1-item:last-child & {
        left: auto;
        right: constants.$gutter-width;
      }
    }
  }
}

.MainNavigation-level2--default {
  @include mixins.respond-to-grid(7) {
    &.is-open {
      left: -6em;
      width: 560px;
    }
  }
}

.MainNavigation-level2--col2 {

  @include mixins.respond-to(constants.$mobile-break) {
    &.is-open {
      left: 0;
      width: 100%;
      max-width: functions.col-width(10);
      right: 0;
      margin: 0 auto;
      display: flex;
    }
  }
}

.MainNavigation-level2-item {
  //@include respond-to(md) {
  //  padding: $susy-gutter-width 0;
  //}
  display: block;
  margin-top: constants.$gutter-width;
  margin-bottom: constants.$gutter-width;
  padding-right: calc(#{constants.$outer-pad}vw + #{constants.$gutter-width*2});
  padding-left: calc(#{constants.$outer-pad}vw + #{constants.$gutter-width*2});

  @include mixins.respond-to(constants.$mobile-break) {
    padding-right: 2em;
    padding-left: 2em;
  }

  @include mixins.respond-to-grid(7) {
    padding-right: 4em;
    padding-left: 4em;
  }

  .MainNavigation-level2--col2 & {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;

    @include mixins.respond-to(constants.$mobile-break) {
      flex-basis: 50%;
    }
  }
}

.MainNavigation-level2-item--first {
  margin-top: constants.$gutter-width*2;
}

.MainNavigation-level2-item--last {
  margin-bottom: constants.$gutter-width*2;
}

.MainNavigation-level2-item--overview {
  background-color: colors.$color-sh-blau-dunkel;
  padding-top: constants.$gutter-width;
  padding-bottom: constants.$gutter-width;
  margin-top: 0;
  margin-bottom: 0;
}

.MainNavigation-level2-link {
  @include mixins.font-AvenirNextLTPro-Demi;
  @include mixins.font-size(18px);
  //font-weight: $fontweight-Default-bold;
  color: colors.$color-white;
  line-height: 1;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: inherit;
  display: inline-block;
  padding-left: 1.5em;
  transition: color 0.2s ease;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-top: -0.2em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-size: 1em;
    background-image: functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="#{icons.$symbol-link-intern-viewbox}" preserveAspectRatio="xMidYMin slice" ><g fill="#{colors.$color-white}">#{icons.$symbol-link-intern}</g></svg>');
  }

  &:hover {

    color: colors.$color-itvsh-magenta;

    &::before {
      background-image: functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="#{icons.$symbol-link-intern-viewbox}" preserveAspectRatio="xMidYMin slice" ><g fill="#{colors.$color-itvsh-magenta}">#{icons.$symbol-link-intern}</g></svg>');
    }
  }

  &.is-activePage {
    color: colors.$color-itvsh-magenta;
  }
}
