@use "../abstracts/colors";
@use "../abstracts/constants";
@use "../abstracts/icons";
@use "../abstracts/functions";
@use "../abstracts/mixins";

.SectionHeader-container {

  position: fixed;
  top: 0;
  z-index: functions.z(constants.$z-main, header);
  box-shadow: 0 2px 2px 0 rgba(colors.$color-black, 0.1);
  width: 100%;
  background-color: colors.$color-white;
}

.SectionHeader {
  position: relative;
  display: flex;
  align-items: center;
  height: constants.$header-height-mobile;
  transition: height 0.5s;

  @include mixins.respond-to(constants.$mobile-break) {
    flex-direction: column;
    align-items: flex-start;
    height: constants.$header-height-desktop;

    .is-scroll & {
      height: constants.$header-height-scroll;
    }
  }
}

.SectionHeader-metaSection {
  margin-top: constants.$nudge;
  margin-bottom: constants.$nudge;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0;
  display: none;

  @include mixins.respond-to(constants.$mobile-break) {
    display: flex;
  }
}

.SectionHeader-logoSection {
  & .SectionHeader-logo--large {
    display: none;
  }

  & .SectionHeader-logo--small {
    display: block;
    width: 49px;
    margin-right: constants.$gutter-width;
  }

  @include mixins.respond-to(constants.$mobile-break) {
    & .SectionHeader-logo--large {
      display: block;
      width: 170px;
    }

    & .SectionHeader-logo--small {
      display: none;
    }
  }
}


.SectionHeader-menuSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-left: 0;
}

.SectionHeader-hamburgerSection {
  display: block;

  @include mixins.respond-to(constants.$mobile-break) {
    display: none;
  }
}

.SectionHeader-backLink {
  margin-left: auto;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0.8em;
    height: 0.8em;
    margin-top: -0.2em;
    margin-left: 0.5em;
    background-repeat: no-repeat;
    background-size: 0.8em;
    background-image: functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="#{icons.$symbol-link-section-viewbox}" preserveAspectRatio="xMidYMin slice" ><g fill="#{colors.$color-itvsh-blau}">#{icons.$symbol-link-section}</g></svg>');

  }
}
