// utils
@use "abstracts/constants";
@use "abstracts/colors";
@use "abstracts/icons";
@use "abstracts/easings";
@use "abstracts/functions";
@use "abstracts/mixins";

// vendors
@forward "../../../../../node_modules/rfs/scss";

// Base
@use "base/webfonts";
@use "base/u-textAlign";
@use "base/u-stack";
@use "base/normalize";
@use "base/global";
@use "base/animations";
@use "base/u-visuallyHidden";
//@import "base/u-flexGallery";
@use "base/u-svg";
// Themes
@use "themes/RTE";
@use "themes/Base";
@use "themes/Base-button";
@use "themes/Base-headline";
@use "themes/Base-form";
@use "themes/Base-link";
@use "themes/Base-list";
@use "themes/Base-media";
@use "themes/Base-paragraph";
@use "themes/Base-table";
@use "themes/FluidStyledContent";
//Layout

// components


* {
  //background: transparent !important;
  //color: #000 !important; /* Black prints faster: h5bp.com/s */
  box-shadow: none !important;
  text-shadow: none !important;
}

.Base-theme--dark * {
  color: colors.$color-black !important;
}

pre,
blockquote {
  page-break-inside: avoid;
}

thead {
  display: table-header-group; /* h5bp.com/t */
}

tr,
img {
  page-break-inside: avoid;
}

img {
  display: block;
  page-break-inside: avoid;
  page-break-before: auto;
  page-break-after: auto;
  max-width: 200px !important;
  height: auto !important;
  margin-bottom: 1em;
  vertical-align: middle;
}

@page {
  margin: 3cm 2cm;
  // size: A4;
}

html {
  font-size: 75%;
}

body {
  background-color: colors.$color-white;
}

h2, h3, h4, p, a {
  orphans: 3;
  widows: 3;
}

h1,
h2,
h3,
h4 {
  page-break-after: avoid;
  page-break-inside: avoid;
}

h2,
h3,
h4 {
  display: block;
  page-break-after: avoid;
  margin-top: 2em;
}

h1 + p, h2 + p, h3 + p {
  page-break-before: avoid;
}

table {
  font-size: 50%;
}

.u-print-pageBreak {
  page-break-before: always;
}

.u-print-hide {
  display: none;
}

.u-print-noPageBreak {
  page-break-inside: avoid;
}

// use in combination with u-hidden
.u-print-only {
  display: block !important;
  visibility: visible !important;
}

.u-print-noReposition {
  transform: translate(0, 0) !important;
}
