@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/constants";

.ProcessNavigation-container {
  position: relative;
  width: 100%;
  background-color: colors.$color-sh-blau-05;
}

.ProcessNavigation {
  display: grid;
  grid-template-columns: repeat(6, minmax(170px, 1fr));
  grid-template-rows: 1fr;
  gap: 0 constants.$gutter-width;
  grid-template-areas: ". . . . . .";
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  cursor: ew-resize;

  @include mixins.respond-to(constants.$mobile-break) {
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }
    -ms-overflow-style: -ms-autohiding-scrollbar; // Hide Scrollbar until hover for EDGE
  }
}

.ProcessNavigation-item {
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ProcessNavigation-link {
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include mixins.padding(constants.$gutter-width constants.$nudge);

  &:focus {
    outline-offset: -2px !important;
  }
}

.ProcessNavigation-icon {
  position: relative;
  width: 100%;
  max-width: 60px;
  height: auto;
  display: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
  @include mixins.margin(constants.$nudge);

  @include mixins.respond-to(constants.$mobile-break) {
    display: block;
  }
}

.ProcessNavigation-icon-container svg {
  padding-bottom: 100%;
}

.ProcessNavigation-label {
  position: relative;
  width: 100%;
  @include mixins.default-h6;
  color: colors.$color-white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: colors.$color-sh-blau;
  @include mixins.padding(constants.$nudge constants.$gutter-width*2);
  will-change: background-color;
  transition: background-color 0.2s ease;

  &::before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 1.25rem;
    height: 100%;
    border-radius: 0 50% 50% 0;
    background-color: colors.$color-sh-blau-05;
    display: inline-block;
    vertical-align: middle;
  }

  &:hover,
  .is-activePage &,
  .u-linkWrap:hover & {
    background-color: colors.$color-itvsh-magenta;
  }
}
